{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 shadow">
            <h3 class="mb-4 text-center">Create an Account</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success w-100">Register</button>
            </form>
            <p class="mt-3 text-center">
                Already have an account? <a href="{% url 'accounts:login' %}">Login here</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
