{% extends 'base.html' %}
{% block content %}
<h2 class="mb-4">Checkout</h2>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="card p-3">
                <h5>Shipping Details</h5>
                {{ form.as_p }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-3">
                <h5>Order Summary</h5>
                {% for item in cart %}
                    <p>{{ item.product.name }} x{{ item.quantity }} - ${{ item.total_price }}</p>
                {% endfor %}
                <hr>
                <p class="fw-bold">Total: ${{ cart.get_total_price }}</p>
                <button type="submit" class="btn btn-success w-100">Place Order</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
